.SearchNotFoundwrap {
    text-align: center;
}

.NotFoundBanner img {
    max-width: 50%;
    max-height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform 350ms ease-in;
    transition: -webkit-transform 350ms ease-in;
    transition: transform 350ms ease-in;
    transition: transform 350ms ease-in, -webkit-transform 350ms ease-in;
    margin-top: -80px;
}

.NotFoundBanner img:hover {
    transform: scale(1.1);
}

.NotFoundTitle h4 {
    font-family: "Hind Siliguri";
    font-style: normal;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.25;
    color:#084496;
}

.NotFoundButton {
    padding-bottom: 20px;
}

.NotFoundButton button {
    font-family: "Hind Siliguri";
    font-style: normal;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.8125rem 3.4375rem;
    text-align: center;
    background: linear-gradient(122.33deg, #ffa42f 0%, #327fecbf 102.08%) !important;
    border: 1px solid #a2a1a5;
    color: white;
    border-radius: 5px;
    border: none;
}

.NotFoundButton button a {
    color: #fff;
    font-size: 1.125rem;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
    
    .NotFoundBanner img {
        max-width: 100%;
        max-height: 100%;
        margin-top: -50px;
    }

    .NotFoundTitle h4 {
        font-size: 1.2rem;
    }

    .NotFoundButton button {
        font-size: 1rem;
    }
    .NotFoundButton button a {
        font-size: 1rem;
    }

}

