.FooterContainer {
    background-color: #21427a;
    /* background-color: #21427a; */
    color: #fff;
}

/* Footer top section styling */
.FooterContainerTop {
    margin-bottom: 20px;
    border-bottom: 2px solid rgba(181, 206, 255, 0.25);
    padding-top: 40px;
    padding-bottom: 20px;
}

.FooterTopMenu ul {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-left: -28px;
}


.FooterTopMenu ul li {
    list-style: none;

}

.FooterTopMenu ul li a {
    text-decoration: none;
    color: #fff;
    /* font-size: 14px; */
    font-size: calc(1vw + .1em);
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family);
    font-weight: bold;
}

.FooterTopMenu ul li a:hover {
    color: #F59A26;
    cursor: pointer;
}

.CertifcateButton {
    text-align: right;
}

/* Main footer section */
.FooterLogo {
    text-align: left;
}

.FooterLogo img {
    width: 160px;
    height: 170px;
    margin-left: -40px;
    margin-top: -50px;
    margin-bottom: -30px;
}


.FooterAboutContent p {
    text-align: left;
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, "Roboto, sans-serif");
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    font-weight: 300;
    color: #FFFFFF;
}

.FooterWizardTitle {
    width: 250px;
}

.FooterWizardTitle h2 {
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, "Roboto, sans-serif");
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 37px;
    text-transform: capitalize;
    color: #FFFFFF;
    border-width: 198px;
    border-bottom: 1px solid rgba(170, 184, 255, 0.5);
    margin-left: 10px;
}

.UseFullLinkListing ul {
    text-align: left;
    margin-left: -20px;
}

.UseFullLinkListing ul li {
    list-style: none;
    padding-bottom: 6px;
}

.UseFullLinkListing ul li a {
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, "Roboto, sans-serif");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.UseFullLinkListing ul li a:hover {
    color: #F59A26;
    cursor: pointer;
}

.MobileFooterMenuLinks {
    display: none;
}

.MobileFooterMenuLinks ul {
    text-align: left;
    margin-left: -20px;
}

.MobileFooterMenuLinks ul li {
    list-style: none;
    padding-bottom: 6px;
}

.MobileFooterMenuLinks ul li a {
    text-decoration: none;
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, "Roboto, sans-serif");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.MobileFooterMenuLinks ul li a:hover {
    color: #F59A26;
    cursor: pointer;
}



.FooterSocialIcon ul {
    display: flex;
    margin-left: -20px;
    padding-bottom: 15px;
    padding-top: 5px;
}

.FooterSocialIcon ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.IconFacebook {
    width: 30px;
    height: 30px;
    background-color: #1778F1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.IconLinkedin {
    width: 30px;
    height: 30px;
    background-color: #005882;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.IconTwitter {
    width: 30px;
    height: 30px;
    background-color: #1DA0F1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.IconInstagram {
    width: 30px;
    height: 30px;
    background-color: #F81F55;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 50%;
    margin-right: 10px;
}

.FooterSocialIcon ul li a svg {
    width: 20px;
    height: 20px;
    color: #fff;
    text-align: center;
    margin-top: -4px;
}

.FooterLocationArea p {
    text-align: left;
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, "Roboto, sans-serif");
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 10px;
}

/* Footer Bottom Section Styling */
.PaymentIconImage {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.PaymentIconImage img {
    width: 100%;
    height: auto;
}

.FooterCopyRightContent {
    border-top: 2px solid rgba(237, 236, 236, 0.25);
    padding-top: 12px;
}

.FooterCopyRightContent p {
    text-align: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, "Roboto, sans-serif");
    font-size: 14px;
    text-transform: capitalize;
    color: #FFFFFF;
}

@media only screen and (min-width: 100px) and (max-width: 279px){
    .FooterTopMenu {
        display: none;
    }
}

@media only screen and (min-width: 280px) and (max-width: 667px) {

    .FooterContainerTop {
        margin-bottom: 20px;
        border-bottom: 2px solid rgba(181, 206, 255, 0.25);
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .FooterContainer {
        padding-left: 20px;
    }

    .PaymentIconImage {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .PaymentIconImage img {
        width: 90%;
        height: auto;
        margin-left: -33px;
    }

    .FooterTopMenu {
        display: none;
    }

    .FooterTopMenu ul {
        display: inline;
        padding-bottom: 50px;
    }

    .FooterTopMenu ul li a {
        font-size: 12px;
    }

    .CertifcateButton {
        text-align: left;
        border-bottom: 1px solid rgba(170, 184, 255, 0.5);
        margin-right: 50px !important;
        padding-bottom: 25px;
        margin-top: 30px;
    }

    .FooterContainerTop {
        border: none !important;
        padding: none !important;
    }

    .FooterAboutContent p {
        font-size: 12px;
        line-height: 25px;
        width: auto;
        padding-right: 20px;
    }

    /* Main footer responsive */
    .FooterWizardTitle {
        width: auto;
    }

    .FooterWizardTitle h2 {
        /* font-family: 'Roboto', sans-serif; */
        font-family: var(--google-font-family, "Roboto, sans-serif");
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 36px;
        text-transform: capitalize;
        color: #FFFFFF;
        border-width: 150px;
        border-bottom: 1px solid rgba(170, 184, 255, 0.5);
        margin-left: 0px !important;
        margin-right: 30px;
    }

    .UseFullLinkListing ul {
        text-align: left;
        margin-left: -31px;
    }

    .UseFullLinkListing ul li a {
        font-size: 12px;
    }

    .MobileFooterMenuLinks {
        display: inherit;
        margin-top: -18px;
    }

    .MobileFooterMenuLinks ul {
        text-align: left;
        margin-left: -31px;
    }

    .MobileFooterMenuLinks ul li a {
        font-size: 12px;
    }

    .FooterSocialIcon ul {
        margin-left: -32px;
    }

    .FooterLocationArea p {
        font-size: 12px;
        margin-left: 0px;
    }

    .FooterCopyRightContent {
        margin-right: 30px;
    }

    .FooterCopyRightContent p {
        font-size: 12px;
    }

}