.MobileHeaderContainer {
    padding: 0px 10px ;
}

.MobileMenuPopupMenu  img{
    /* width: 140px; */
    width: 165px;
    height: 140px;
    margin-bottom: -74px;
    margin-left: -30px;
    margin-top: -10px;
    cursor: pointer;
}

.PopupMobileMenuIcon {
    width: 40px;
    height: 40px;
    background-color: #426fabf0;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    /* margin-top: 8px; */
}

.PopupMobileMenuIcon svg {
    width: 22px;
    height: 22px;
    color: #fff;
    margin-left: 9px;
    margin-top: 9px;
    cursor: pointer;
}

.NavButtonArea  {
    align-items: left;
}

.NavButtonArea div {
    margin-top: 30px;
}

.NavButtonArea  a{
    text-decoration: none;
}

.NavButtonArea .LeftSignInButton a {
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family,"Roboto, sans-serif");
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #F59A26;
    border: 2px solid #F59A26;
    border-radius: 5px;
    padding: 12px 42px;
    /* width: 90% !important; */
}

.NavButtonArea .LeftSignInButton:hover a{
    background: linear-gradient(122.33deg,#ffa42f 0%, #669be3bf 102.08%);
    color: white;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
}

.NavButtonArea .RightLogInButton a{
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family,"Roboto, sans-serif");
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #fff;
    background-color: #F59A26;
    border-radius: 5px;
    padding: 13px 48px;
    /* width: 90 !important */
}

.NavButtonArea .RightLogInButton:hover a{
    background: linear-gradient(122.33deg,#ffa42f 0%, #669be3bf 102.08%);
    color: white;
}


.CartSearchWrapping {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Mobile cart are styling */
.HeaderTopCartIcon {
    position: relative;
    margin-right: 18px;
}

.HeaderTopCartIcon svg {
    font-size: 24px;
    color: #084496;
}

.HeaderTopCartValue {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: #F59A26;
    color: #fff;
    font-size: 12px;
    border-radius: 50%;
    text-align: center;
    margin-top: -8px;
    margin-left: -7px;
    padding-top: 2px;
}

/* Mobile header menu icon */
.MobileHeaderMenuIcon {
    padding-top: 10px;
    margin-left: 10px!important;
    margin-right: 10px!important;
}

/* Mobile header logo styling */
.MobileHeaderLogo img {
    width: 48px;
    height: 40px;
    margin-top: 10px;
    /* margin-left: -24px; */
    padding-top: 8px;
    cursor: pointer;
}

/* Mobile Header Searchbar stylign */
.MobileHeaderSearchBar {
    height: 40px;
    width: 90%;
    display: flex;
    align-items: center;
    border: 1.5px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    background: #F1F1F1;
    margin: 10px;
    display: none;
}

.MobileHeaderSearchBar input {
    border: none;
    width: 90%;
    height: 40px;
    color: #000;
    padding-left: 10px;
    background: #fff;
}

.MobileHeaderSearchBar input:focus {
    outline: none;
}


.MobileHeaderSearchBar svg {
    width: 20px;
    height: 20px;
    color: #F59A26;
    margin-left: 8px;
    margin-right: 8px;
}

.dialogDrawer {
    width: 320px!important;
}

/* @media screen and (max-width:320px) {
    .dialogDrawer {
        width: 280px!important;
    }  

    .NavButtonArea .LeftSignInButton a,
    .NavButtonArea .RightLogInButton a{
        font-size: 16px !important;
        width: 100% !important;
        display: block;
        padding-left: 10px !important;
        font-weight: bold;
    }

    .NavButtonArea .RightLogInButton{
        margin-top: 10px !important;
    }
} */


/* New Mobile Search Icon styling */
.MobileSearchIConDiv {
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 65px;
}

/* New Search Icon component style */
.mobileSearchIconBar {
    cursor: pointer;
    font-size: 24px;
}
.CustomInputSearch {
    width: 100%;
    border: 1px solid #f2b73fc4;
    display: flex;
    align-items: center !important;
    border-radius: 10px;
    padding: 3px 5px;
}

.CustomInputSearch input {
    width: 98%;
    border: none;
    padding: 5px 10px;
    height: 100%;
}

.CustomInputSearch input::placeholder {
    font-size: 0.8em;
    color: #a1a09e;
}

.CustomInputSearch input:focus {
    outline: none;
}

.greetingValidUser img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    border: 1px solid #F59A26;
    margin-left: 10px;
}

.greetingValidUser h6{
    margin-left: 10px;
    font-weight: bold;
    border-bottom: 2px solid #577bad;
    color: #FF9209;
    font-size: 1.1em;
}

.greetingValidUser p{
    display: flex;
    align-items: center;
    color: #094496;
    padding: 0px;
    margin-bottom: 0px !important;
    padding-left: 10px;
    margin-top: 5px;
}
/* 
.greetingValidUser p{
    font-size: 14px;
    color: #000;
    padding: 1px 0px !important;
    margin-bottom: 0px !important;
} */




@media screen and (min-width:280px) and (max-width:768px) {
    .dialogDrawer {
        width: 300px!important;
    }  

    .NavButtonArea .LeftSignInButton a,
    .NavButtonArea .RightLogInButton a{
        font-size: 16px !important;
        width: 100% !important;
        display: block;
        padding-left: 10px !important;
        font-weight: bold;
    }

    .NavButtonArea .RightLogInButton{
        margin-top: 10px !important;
    }

    

    /* margin-right: -87px; */
}


@media screen and (max-width: 61.9375rem){
    .NavButtonArea .LeftSignInButton a,
    .NavButtonArea .RightLogInButton a{
        font-size: 16px !important;
        width: 100% !important;
        display: block;
        padding-left: 10px !important;
        font-weight: bold;
    }

    .MobileHeaderLogo img {
        margin-left: 95px;
    }

    .mobileSearchIconBar {
        margin-right: -87px;
        z-index: 10;
    }
  
}


@media screen and (max-width: 768px){
    .MobileHeaderLogo img {
        margin-left: 0px;
    }

    .mobileSearchIconBar {
        margin-right: -5px;
        margin-left: 5px;
    }
}



