.LeftMainFilterSection {
    padding: 20px 0px;
    border-bottom: 1px solid #D9D9D9;
}

.FitlerHeadingWrap {
    display: flex;
    justify-content: space-between;
}

.FitlerHeadingWrap p {
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, 'Roboto, sans-serif') !important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #074495;
}

.FilterUlListing ul  {
    padding: 0px;
}

.FilterUlListing ul li {
    list-style: none;
}

.CourseFilterRatingLI {
    display: flex;
    margin-bottom: -10px;
}

/* star rating style*/
.RatingStarPosition {
    display: flex;
}

.RatingTitleStyle p {
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, 'Roboto, sans-serif') !important;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    color: rgba(63, 68, 96, 0.65);
    padding-left: 10px;
    width: 100px;
}

.RatingStarStyle {
    padding-left: 20px;
    margin-top: -6px;
    text-align: left;
}

/* Custom Rating start styling */

.CustomRatingStyle svg {
    width: 20px;
    height: 20px;
    color: #F49926;
}

.CustomRatingStyle span {
    border-color: 1px solid #ffa500;
}
.CustomRatingStyle span svg {
    width: 20px;
    height: 20px;
    color: #dfe6e9;
}

/* custom checkbox */
input[type="radio"] {
    height: 18px;
    width: 18px;
    margin: 0;
    padding: 0;
    opacity: 1;
    appearance: none;
    border: 2px solid #B1B1B1;
    border-radius: 5px;
    background: #fff;
    position: relative;
    margin-right: 10px;
  }
  
  input[type="radio"]:checked {
    border: 2px solid #F49926;
    background: #F49926;
  }
  
  input[type="radio"]:checked:before, input[type="radio"]:checked:after {
    content: "";
    position: absolute;
    height: 2px;
    background: #fff;
  }
    
  input[type="radio"]:checked:before {
    width: 6px;
    top: 8px;
    left: 2px;
    transform: rotate(44deg);
  }
  
  input[type="radio"]:checked:after {
    width: 10px;
    top: 6px;
    left: 4px;
    transform: rotate(-55deg);
  }
  
  input[type="radio"]:focus {
    outline: none;
  }

