.LeftSearchFilterSection {
    padding-top: 20px;
}

.LeftSearchFilterSection {
   
}
.FitlerHeadingWrap {
    margin-bottom: 30px;
}
.FitlerHeadingWrap p {
    /* font-family: 'Roboto', sans-serif; */
    font-family: var(--google-font-family, 'Roboto, sans-serif') !important;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: capitalize;
    color: #074495;
}
.TagSearchFilter {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1.5px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    background: #F1F1F1;
    margin-top: -10px;
}

.TagSearchFilter input {
    border: none;
    width: 90%;
    height: 40px;
    color: #adadad;
    padding-left: 10px;
    background: #fff;
}

.TagSearchFilter input::placeholder {
    color: #adadad;
}
.TagSearchFilter input:focus {
    outline: none;
}

.TagSearchFilter svg {
    width: 20px;
    height: 20px;
    color: #F59A26;
    margin-left: 8px;
    margin-right: 8px;
}