/* Simple button styling */
.ButtonWrap a {  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #fff !important;
    /* background-color: #ff9507; */
    /* background-color: #084496; */
    border-radius: 5px;
    padding: 15px 50px;
    text-decoration: none;
    background: linear-gradient( 122.33deg ,#ffa42f 0%, #327fecbf 102.08%) !important;
    border: 1px solid #a2a1a5;
    
}

/* Certificate button styling */
.CertificateButtonWrap a {  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #fff !important;
    /* background-color: #F59A26; */
    background: linear-gradient( 122.33deg ,#f7b155 0%, #beddfabf 102.08%) !important;
    border-radius: 5px;
    padding: 10px 22px;
    text-decoration: none;
}

/* Section heading styling */
.SectionHeadingWrap {
    padding: 0px;
}

.SectionHeadingWrap a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 25px;
    text-decoration: none;
    background-color: #0D3D80;
    box-shadow: 4px 4px 8px #f5b561, inset 4px 4px 4px #1754A9, inset -4px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.SectionHeadingWrap a::before{
    position: absolute;
    content: '';
    top: 10px;
    left: -15px;
    width: 100px;
    height: 100%;
    background-color: #0D3D80;
    clip-path: polygon(25% 0%, 100% 0%, 78% 45%, 0 47%);
    z-index: -1;
}

@media only screen and (min-device-width: 240px) and (max-device-width: 767px){
    .SectionHeadingWrap a {
        font-size: 14px;
        padding: 8px 15px;
    }
}
/* Top Instructor heading button styling */

.TopInstructorHeading a span{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #F59A26;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.TopInstructorHeading a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #0D3D80;
    text-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-decoration: none;
}
@media only screen and (min-device-width: 240px) and (max-device-width: 767px){
    .TopInstructorHeading a span{
        font-size: 18px;
    }
    
    .TopInstructorHeading a {
        font-size: 18px;
    }
}
/* Load More Button Styling */

.LoadMoreButtonWrap a {
    background-color: #0D3D80;
    padding: 10px 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), inset -2px -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.LoadMoreButtonWrap a svg {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}

/* See More Button wrap */
.SeeMoreButtonWrap a {
    background-color: #0D3D80;
    padding: 10px 20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25), inset -2px -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.SeeMoreButtonWrap a svg {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize;
    color: #FFFFFF;
}

