.TopInstructorSliderContainer {
    background-image: url('../../images/Background-Banner/top-instructor bg.png');
    background-repeat: no-repeat;
}

.TopInstructorWrap {
    background: #FAF9F9;
    border-radius: 52px;
    padding: 20px 0px 0px;
    margin-bottom: 20px;
}

.TopInstructorHeading {
    text-align: center;
    padding-bottom: 0px;
}

@media only screen and (min-device-width: 240px) and (max-device-width: 767px) {
    .TopInstructorHeading {
        padding-bottom: 0px;
    }
}