.TopInstructorSliderContainer {
    background-image: url('../../images/Background-Banner/top-instructor\ bg.png');
}

.TopInstructorWrap {
    background: #FAF9F9;
    border-radius: 52px;
    padding: 20px 0px 0px;
    margin-bottom: 20px;
}

.TopInstructorHeading {
    text-align: center;
    padding-bottom: 20px;
}