*{
  margin: 0px;
  padding: 0px;
}

/* Select to modified style */
.css-1s2u09g-control {
  box-sizing: border-box;
  border: 1.5px solid #F1F1F1!important;
  box-sizing: border-box!important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px!important;
  border-radius: 5px!important;
  background-color: #F1F1F1!important;
}

.css-tj5bde-Svg {
  color: #084496!important;
}

/* Bootstrap style modified */
/* .container,.container-fluid{
  width: 100%;
  padding-right: 0px!important; 
  padding-left: 0px!important; 
  margin-right: auto;
  margin-left: auto;
} */

/* Mobile Menu Left Popup style modified */
.offcanvas-start {
  top: 0;
  left: 0;
  width: 250px!important;
  border-right: 3px solid #F59A26!important;
  background-color: #ecf0f1!important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Categrory slider section styling */
.slick-prev, .slick-prev:focus, .slick-next, .slick-next:focus {
  outline: none;
  background-color: #0D3D80!important;
  font-size: 14px!important;
  padding: 5px;
  width: 40px!important;
  height: 40px!important;
  border-radius: 50%;
}

.slick-prev::before, .slick-next::before {
  font-family: 'slick';
  font-size: 18px!important;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -38px!important;
}

.slick-next {
  right: -31px!important;
}

.slick-list {
  margin: 0px 28px!important;
}

.slick-dots li button:before {
  font-size: 12px!important;
  color: #084496!important;
}

.slide {
  margin: 0 auto;
}

.slide {
  transform: scale(0.9);
  /* transition: transform 300ms; */
  transition: 0.5s ease-out;
  opacity: 0.6;
}

.activeSlide {
  transform: scale(1);
  opacity: 1;
  /* margin: 20px 0px; */
}


/* React Bootstrap accordion style over ride */
.accordion-button::after {
  width: 15px!important;
  height: 15px!important;
  background-size: 12px!important;
}

.accordion-button {
  font-size: 13px!important;
  color: #212529!important;
}


.containerSlidePopolarCard {
    box-shadow: rgba(186, 186, 190, 0.2) 10px 10px 29px 0px !important;
    margin-bottom: 0px !important;
}

/* React accordion style end */

@media only screen and (min-device-width: 240px) and (max-device-width: 767px) {
  .slick-prev, .slick-prev:focus, .slick-next, .slick-next:focus {
    outline: none;
    background-color: #0D3D80!important;
    font-size: 14px!important;
    padding: 5px;
    width: 30px!important;
    height: 30px!important;
    border-radius: 50%;
  }
  .slick-prev::before, .slick-next::before {
    font-family: 'slick';
    font-size: 17px!important;
    line-height: 1;
    opacity: .75;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .slick-list {
    margin: 0px 13px!important;
  }
  .activeSlide {
    transform: scale(1);
    opacity: 1;
    margin: 0px 0px;
  }

  .slick-arrow.slick-next {
    margin-right: 23px;
  }


  .slick-arrow.slick-prev {
      margin-left: 32px;
      z-index: 1;
  }

  .categorySliderWrapper{
    /* margin-left: 6px !important; */
  }

}



/* Bootstrap tabs style modified */
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff!important;
  background-color: #084496!important;
  border-color: #dee2e6 #dee2e6 #fff!important;
  padding: 10px 65px!important;
  border-radius: 10px 10px 0px 0px!important;
  font-size: 16px!important;
}

.nav-tabs .nav-link {
  color: #fff!important;
  background-color: #CBCBCB!important;
  border-color: #dee2e6 #dee2e6 #fff!important;
  padding: 10px 65px!important;
  border-radius: 10px 10px 0px 0px!important;
  font-size: 16px!important;
}

.nav-tabs {
  border-bottom: none!important;
}
/* React bootstrap modification */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl 
{
  width: 100%;
  padding-right: 0px!important; 
  padding-left: 0px!important; 
  margin-right: auto;
  margin-left: auto;
}