.CardCetegoryWrap {
    width: 200px;
    height: 150px;
    background: #fff;
    box-shadow: 4px 4px 4px rgba(224, 241, 255, 0.914207);
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 10px;
    margin: 10px 7px;
    margin-left: 10px;
}

.CategorySliderIcon {
    text-align: center;
    padding-top: 10px;
}

.CategorySliderIcon img {
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.CategorySliderTitle {
    text-align: center;
    margin-top: -10px;
}

.CategorySliderTitle a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FF925E;
}

@media only screen and (min-device-width: 240px) and (max-device-width: 767px) {

}