.InstructorCardContainer {
    background-color: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin: 15px 5px;
    padding: 10px;
}

/* .InstructorCardContainer {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 30px 30px;
    margin: 10px;
} */

.InstructorImage img {
    width: 100%;
    max-height: 300px;
    height: auto;
    padding: 0px 10px;
}

.InstructorInfo {
    text-align: center;
}

.InstructorInfo h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: capitalize;
    color: #0D3D80;
    padding: 10px 0px;
}

.InstructorInfo p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 5px;
    text-transform: capitalize;
    color: #FEAD46;
}

.InstructorSocialInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px 10px;
}

.InstructorSocialIcon {
    display: flex;
}

.InstructorSocial {
    padding-right: 10px;
    width: 25px;
    height: 25px;
    background-color: #084496;
    margin: 3px;
    border-radius: 5px;
}

.InstructorSocial a {
    text-decoration: none;
}

.InstructorSocial a svg {
    color: #fff;
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-top: -2px;
}

.InstructorMoreInfo a {
    background-color: #084496;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    text-transform: capitalize;
    padding: 3px 5px;
}


@media only screen and (min-device-width: 240px) and (max-device-width: 767px){
    .InstructorInfo h2 {
        font-size: 22px;
    }

    .InstructorImage img {
        width: 100%;
        height: auto;
    }

    .InstructorInfo p {
        font-size: 16px;
        line-height: 8px;
    }

    .InstructorSocial {
        padding-right: 6px;
        width: 25px;
        height: 25px;
    }

    .InstructorSocial a svg {
        color: #fff;
        width: 15px;
        height: 14px;
        margin-left: 5px;
        margin-top: -4px;
    }

}
