.PurchaseListHeading h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #084496;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
}

.PurchaseListHeading h4 {
    color: #fff;
}


/* Wishlist section style */
.WishListCol {
    padding: 0.6em;
}

@media screen and (max-width: 668){
    .WishListCol {
       width: 100%;
    }
}



@media only screen and (min-width: 669px) and (max-width: 61.9375rem){
    .WishListCol {
       width: 48%;
    }
}

